@keyframes title-color-change {
    0% {
        color: #386641;
    }

    100% {
        color: #94cf72;
    }
}

@keyframes scale-up {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.2;
    }
}
