@keyframes title-color-change {
    0% {
        color: #386641;
    }

    100% {
        color: #94cf72;
    }
}

@keyframes scale-up {
    0% {
        scale: .9;
    }

    100% {
        scale: 1;
    }
}


@keyframes hide-header {
    
    0% {
        position: absolute;
        top: 0px;
        display: flex;
    }

    100% {
        position: absolute;
        top: -110%;
        display: none;
    }
}

@keyframes show-header {

    0% {
        position: absolute;
        top: -110%;
        display: flex;
    }

    100% {
        position: absolute;
        top: 0px;
    }

}

@keyframes opacity-out {
    
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}