
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,700;1,400;1,800&family=Teko:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Rubik+Puddles&family=Rubik+Scribble&display=swap');

* {
    font-family: 'Lacquer';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a, a:visited, a:active{
    text-decoration: unset;
    color: unset;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 40;
}

body {
    background: #7E7F9A;
    display: flex;
    flex-direction: column;

}

header {
    background: #3639a1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 85%;
    height: 7.5vh;
    padding: 20px 15px;
    margin-top: 15px;
    color: #94cf72;
    text-shadow: 0px 0px 1.5px black;
    box-shadow: 0px 0px 3.5px black;
    border-radius: 35px;
    transition: color 0.3s ease-in-out;
}

.header_buttonstyle {
    transition: color 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 3px 5px 4px;
    text-align: center;
}

.header_buttonstyle:hover {
    color: #386641;
    scale: 1.15;
    transition: color 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, .25);
    border-radius: 5px;
}

#FullBodyWrap {
    position: absolute;
    /* background: #a1369c; */
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 10vh);
}

#StartGameWrap {
    background: #94cf72;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 20px;
    gap: 10px;
    width: 38%;
}

#GameOptionsWrap {
    background: rgba(0, 55, 128, 0.664);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 1.5px black;
}

#OptionsGridWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

#StartButtonWrap {
    background: rgba(0, 55, 128, 0.664);
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 1.5px black;
}

#StartGameButton {
    background: #6fba39;
    color: #386641;
    width: 45%;
    min-width: fit-content;
    align-self: center;
    padding: 4px 3px 4px 5px;
    font-weight: 900;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    border: unset;
    box-shadow: 0px 0px 2.5px black;
    text-shadow: 0px 0px 1.5px black;
    cursor: pointer;
    animation: title-scale-up 1s 1 reverse both;
}

#StartGameButton:hover {
    animation: title-color-change 1s infinite alternate both, scale-up 1s infinite alternate both;
    transition: all 1s ease-in-out;
}
