:root{
    --LightBodyBackground : rgb(220, 220, 220);
    --DarkBodyBackground : #1b1b1b;
    --BodyTextColor : black;
    --HeaderFooterBackground : #a047d4;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.material-symbols-rounded{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: distribute;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.3);
}

.text-shadow-light{
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

body{
    background: var(--DarkBodyBackground);
    height: 100%;
    width: 100%;
    color: var(--BodyTextColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Kanit';
    position: absolute;
}

header{
    /* background: var(--LightBodyBackground); */
    background: var(--HeaderFooterBackground);
    padding: 8px 5px 5px 5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer{
    /* background: var(--LightBodyBackground); */
    background: var(--HeaderFooterBackground);
    padding: 2px 5px 4px;
    position: static;
    bottom: -1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#SiteTitle{
    display: flex;
    font-size: 26px;
    padding-bottom: 6px;
}

#SiteTitle p{
    display: flex;
    font-style: italic;
    font-size: 13px;
    padding-top: 2.5px;
    padding-left: 2px;
    color: #649DFF;
}

.HeaderButton{
    padding: 4px;
    border-radius: 15%;
    transition: .33s;
}

.HeaderButton:hover{
    padding: 4px;
    background: rgba(0, 0, 0, 0.4);
    scale: 1.1;
    cursor: pointer;
}

#HomeButton:hover{
    color: #06d683;
}

#SettingsButton:hover{
    color: #649DFF;
}

.FooterLink{
    transition: .33s;
    cursor: pointer;
}

.FooterLink:hover{
    color: #649DFF;
    text-decoration: underline;
}

#FullBodyWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

#MainGameArea{
    color: rgb(213, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#HandButtonsWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HandButton{
    background: rgba(255, 255, 255, 0.5);
    padding: 4px;
    border-radius: 10%;
    margin: 0px 12px;
}