@keyframes OpenNav {
    0% {
        opacity: 0;
        left: -20vh
    }

    100% {
        opacity: 1;
        left: 0px;
    }  
}


@keyframes CloseNav {
    0% {
        opacity: 1;
        left: 0px;
    }

    100% {
        opacity: 0;
        left: -20vh
    }
}