:root{
    --HeaderGray: rgb(90, 90, 90);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
}

button{
    color: black;
}


.ShownOpacity{
    transition: opacity .5s;
    opacity: 1;
}

.HiddenOpacity{
    transition: opacity .5s;
    opacity: 0;
}

.material-symbols-rounded{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer !important; 
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: var(--HeaderGray);
}

.HeaderButton{
    padding: 3px;
    text-align: center;
    border-radius: 8px;
    transition: background 0.2s ease, scale 0.3s;
}

.HeaderButton:hover{
    background: rgba(0, 0, 0, 0.587);
    scale: 1.15;
}

#FullBodyWrap{
    /* background: rgb(50, 14, 94); */
    background: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#WelcomeLandingScreen{
    background: var(--HeaderGray);
    position: absolute;
    padding: 15px;
    display: flex;
    gap: 5px;
    scale: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    border-radius: 7px;
}

.GamemodeButton{
    font-family: 'Ubuntu';
    font-weight: bold;
    padding: 4px;
    border: none;
    box-shadow: 1px 2px 4px black;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: scale .1s;
}

.GamemodeButton:hover{
    scale: 1.05;
}

#SinglePlayerButton{
    background: rgb(40, 192, 40);
}

#MultiPlayerButton{
    background: rgb(159, 82, 221);
}

#SinglePlayerTableArea, #LocalMultiPlayerTableArea{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SinglePlayerGameArea{
    /* background: purple; */
    padding: 15px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlayerPieceSelectionScreen{
    background: var(--HeaderGray);
    box-shadow: 0px 0px 3.5px black;
    position: absolute;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 5;
}

.ChoosePieceXButton, .ChoosePieceOButton{
    background: rgba(0, 0, 0, 0.663);
    box-shadow: .5px .5px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    transition: background 0.3s, scale 0.2s;
    cursor: pointer;
}

.ChoosePieceXButton:hover{
    background: rgba(255, 174, 0, 0.75);
    scale: 1.15;
}

.ChoosePieceOButton:hover{
    background: rgba(184, 84, 199, 0.75);
    scale: 1.15;
}

#SinglePlrGameInfoHeader, #LocalMultiPlayerInfoHeader{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    gap: 10px;
    background: var(--HeaderGray);
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.GameInfoHeaderRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.PlayerPieceDisplay{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 4px black;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    margin-inline-end: 5px;
}

#GameInfoHeaderYouWrap, #GameInfoHeaderComputerWrap, #GameInfoHeaderLocalPlayer1Wrap, #GameInfoHeaderLocalPlayer2Wrap{
    background: rgba(0, 0, 0, 0.5);
    /* border: 2.5px solid #3ba3ff00; */
    /* border: 2.5px solid #3ba3ff; */
    transition: border .5s;
    position: relative;
    padding: 7px;
    border-radius: 5px;
}

.GameTable{
    border: 2.5px solid white;
    border-radius: 4px;
    display: flex;
    background: var(--HeaderGray);
}

.ExtraGameTableBorder{
    background: var(--HeaderGray);
    padding: 10px;
    border-radius: 6px;
    display: inline-flex;
    transition: opacity 0.5s;
}

.GameTblRow{
    display: flex;
}

.GameTblCell{
    border: 2.5px solid white;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: background .25s;
}

.GameTblCell:hover{
    background: rgba(228, 225, 225, 0.9);
}




#MultiPlayerGameArea{
    padding: 15px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ChooseMultiplayerModeArea{
    background: var(--HeaderGray);
    position: absolute;
    padding: 15px;
    display: flex;
    gap: 5px;
    scale: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    border-radius: 7px;
}

#LocalMultiPlayerButton{
    background: #3191e5;
}

#OnlineMultiPlayerButton{
    background: #a73acc;
}

#LocalMultiPlayerMessageHeader, #SinglePlayerMessageHeader{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: fit-content;
}

.GameMessage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 7px;
    background: var(--HeaderGray);
    border-radius: 7px;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
}