:root{
    --HeaderGray: rgb(90, 90, 90);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
}

button{
    color: black;
}


.ShownOpacity{
    transition: opacity .5s;
    opacity: 1;
}

.HiddenOpacity{
    transition: opacity .5s;
    opacity: 0;
}

.material-symbols-rounded{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer !important; 
}

.defaultCursor{
    cursor: default !important;
}

.waitCursor{
    cursor: wait !important;
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: var(--HeaderGray);
}

.HeaderButton{
    padding: 3px;
    text-align: center;
    border-radius: 8px;
    transition: background 0.2s ease, scale 0.3s;
}

.HeaderButton:hover{
    background: rgba(0, 0, 0, 0.587);
    scale: 1.15;
}

#FullBodyWrap{
    /* background: rgb(50, 14, 94); */
    background: rgb(32, 32, 32);
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#WelcomeLandingScreen{
    background: var(--HeaderGray);
    position: absolute;
    padding: 15px;
    display: flex;
    gap: 5px;
    scale: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    border-radius: 7px;
}

.GamemodeButton{
    font-family: 'Ubuntu';
    font-weight: bold;
    padding: 4px;
    border: none;
    box-shadow: 1px 2px 4px black;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: scale .1s;
}

.GamemodeButton:hover{
    scale: 1.05;
}

#SinglePlayerButton{
    background: rgb(40, 192, 40);
}

#MultiPlayerButton{
    background: rgb(159, 82, 221);
}

#SinglePlayerTableArea, #LocalMultiPlayerTableArea, #OnlineMultiPlayerTableArea{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    flex: 1;
}

#OnlineMultiPlayerArea{
    /* background: blue; */
    width: 100%;
    flex: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#AvialableOnlineGamesWrap{
    background: var(--HeaderGray);
    box-shadow: 0px 0px 3px black;
    position: relative;
    width: 600px;
    max-width: 90vw;
    max-height: 35%;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#RefreshAvailableGamesButton{
    background: rgb(0, 0, 0, .35);
    box-shadow: 0px 0px 2px black;
    border-radius: 100%;
    font-size: medium;
    padding: 3px;
    position: absolute;
    top: 14px;
    right: 10px;
    transition: .33s;
}

#RefreshAvailableGamesButton:hover{
    scale: 1.14;
}

#OnlineGamesList {
    background: rgb(0, 0, 0, .35);
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 7px;
    overflow-y: scroll;
    width: 100%;
    height: 225px;
}

.AvailableGameWrap{
    background: var(--HeaderGray);
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
}

.JoinGameButton, #SubmitNameButton{
    background: #41d261;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    border: 1.5px white solid;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
    transition: 0.33s;
}

#StartOnlineGameButton {
    background: #41d261;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    border: 1.5px white solid;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
    transition: 0.33s;
    margin-top: 10px;
}

#EnterNameWrap, #WaitingForPlayerWrap{
    background: var(--HeaderGray);
    box-shadow: 0px 0px 3px black;
    position: absolute;
    min-width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    transition: all .33s;
}

#EnterNameImputWrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#EnterNameImput{
    padding: 4px;
    border-radius: 4px;
    border: 1.5px white solid;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
}

#NameCharactersLeft{
    color: rgb(147, 147, 147);
    font-size: 9px;
    position: absolute;

    right: 2px;
}

#CancelGameButton{
    background: #d25241;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    border: 1.5px white solid;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
    scale: 1.1;
    transition: 0.33s;
}

#CancelGameButton:hover{
    background: #e9c148;
    padding: 4px 6px;
    scale: 1.2;
}

#StartOnlineGameButton:hover, .JoinGameButton:hover, #SubmitNameButton:hover{
    background: #48abe9;
    padding: 4px 6px;
    scale: 1.1;
}

#SinglePlayerGameArea{
    /* background: purple; */
    padding: 15px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlayerPieceSelectionScreen{
    background: var(--HeaderGray);
    box-shadow: 0px 0px 3.5px black;
    position: absolute;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 5;
}

.ChoosePieceXButton, .ChoosePieceOButton{
    background: rgba(0, 0, 0, 0.663);
    box-shadow: .5px .5px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    transition: background 0.3s, scale 0.2s;
    cursor: pointer;
}

.ChoosePieceXButton:hover{
    background: rgba(255, 174, 0, 0.75);
    scale: 1.15;
}

.ChoosePieceOButton:hover{
    background: rgba(184, 84, 199, 0.75);
    scale: 1.15;
}

#SinglePlrGameInfoHeader, #LocalMultiPlayerInfoHeader, #OnlineMultiPlayerInfoHeader{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    gap: 10px;
    background: var(--HeaderGray);
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.GameInfoHeaderRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.PlayerPieceDisplay{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 4px black;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    margin-inline-end: 5px;
}

#GameInfoHeaderYouWrap, #GameInfoHeaderComputerWrap, #GameInfoHeaderLocalPlayer1Wrap, #GameInfoHeaderLocalPlayer2Wrap, #GameInfoHeaderOnlinePlayer1Wrap, #GameInfoHeaderOnlinePlayer2Wrap{
    background: rgba(0, 0, 0, 0.5);
    /* border: 2.5px solid #3ba3ff00; */
    /* border: 2.5px solid #3ba3ff; */
    transition: border .5s;
    position: relative;
    padding: 7px;
    border-radius: 5px;
}

#SinglePlayerScore, #SinglePlayerComputerScore, #LocalPlayer1Score, #LocalPlayer2Score, #OnlinePlayer1Score, #OnlinePlayer2Score{
    background: rgba(128, 128, 128, 0.5);
    padding: 4px;
    border-radius: 3px;
    height: 19px;
    width: 19px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.GameTable{
    border: 2.5px solid white;
    border-radius: 4px;
    display: flex;
    background: var(--HeaderGray);
}

.ExtraGameTableBorder{
    background: var(--HeaderGray);
    padding: 10px;
    border-radius: 6px;
    display: inline-flex;
    transition: opacity 0.5s;
}

.GameTblRow{
    display: flex;
}

.GameTblCell{
    border: 2.5px solid white;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: background .25s;
}

.GameTblCell:hover{
    background: rgba(228, 225, 225, 0.9);
}

.WinningCell{
    background: #62BD67 !important;
}


#MultiPlayerGameArea{
    padding: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ChooseMultiplayerModeArea{
    background: var(--HeaderGray);
    position: absolute;
    padding: 15px;
    display: flex;
    gap: 5px;
    scale: 1.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    border-radius: 7px;
}

#LocalMultiPlayerButton{
    background: #3191e5;
}

#OnlineMultiPlayerButton{
    background: #a73acc;
}

#OnlineMultiPlayerMessageHeader, #LocalMultiPlayerMessageHeader, #SinglePlayerMessageHeader{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: fit-content;
}

.GameMessage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 7px;
    background: var(--HeaderGray);
    border-radius: 7px;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
}

#OnlineMultiPlayerJoinMsg{
    position: absolute;
    bottom: -22%;
    font-size: 12px;
    background-color: #c27426;
    text-shadow: 0px 0px 2px black;
    box-shadow: 1px 2px 4px black;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

#OnlineGameStatusUpdateWrap{
    background: #000000a1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}


#OpponentLeftGameMsgWrap {
    display: none;
    max-width: 70%;
    background: var(--HeaderGray);
    padding: 25px 20px;
    text-shadow: 0px 0px 3px black;
    box-shadow: 1px 2px 4px black;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#RestartGameQuestionWrap{
    display: none;
    gap: 10px;
    max-width: 70%;
    background: var(--HeaderGray);
    padding: 25px 20px;
    text-shadow: 0px 0px 3px black;
    box-shadow: 1px 2px 4px black;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.GameStatusButtons{
    background: rgb(214, 205, 205);
    padding: 4px 6px;
    margin-inline: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    font-style: bolder;
    border: 1.5px solid black;
    transition: .33s;
}

.OnlineGameAgainVoteYes:hover{
    scale: 1.1;
    padding: 4px 10px;
    background-color: #41d261;
}

.OnlineGameAgainVoteNo:hover{
    scale: 1.1;
    padding: 4px 10px;
    background-color: #ed7666;
}

#OnlinePlayerLeftBackButton{
    margin-top: 20px;
}

#OnlinePlayerLeftBackButton:hover{
    scale: 1.1;
    padding: 4px 10px;
    background-color: #dded66;
}

#OnlinePlayAgainVoteTimeText{
    display: none;
    color: #b7c54a;
    text-shadow: 0px 0px 3px black;
    /* margin-top: 7px; */
}

#OnlineOpponentPlayAgainVoteIcon{
    margin-left: 4px;
}

#VotingTimeProgressBarWhole{
    width: 42%;
    height: 10px;
    margin-top: 5px;
    background-color: #303030;
    border: none;
    border-radius: 5px; 
    transition: .33s all;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

#VotingTimeProgressBarProgress{
    width: 5%;
    height: 100%;
    background-color: #78d23b;
    border: none;
    border-radius: 5px; 
    transition: .33s all;
}
