<!DOCTYPE css>
<css>

header {
  background-color: #d1c8ae;
  text-align: center;
  padding: 20px;
}


footer {
  background-color: #d1c8ae;
  top-padding: 0px
    
    
}


footer-copyright {
   top-padding: 10px;
      text-align: center;
  } 

grid3-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#login_panel {
  
  margin:auto;
  text-align:center;
  
  background-color: #c7e0af;
    
   
}

</css>
