:root{
    --DefaultTextColor: white;
    --LightBodyBackground : #d2d2d2;
    --DarkBodyBackground : #303030;
    /* --ContentBackground : rgba(255, 255, 255, 0.35); */
    --ContentBackground : rgba(60, 60, 60, 0.35);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px .8px black;
}

.material-symbols-rounded{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.blurEffect{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

html, body{
    /* background: var(--LightBodyBackground); */
    background: linear-gradient(to top right, #a9d6e5, #89c2d9, #2c7da0cc);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    color: var(--DefaultTextColor);
}

.hidden{
    display: none !important;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* width: 80%; */
    width: 100%;
    padding: 15px 15px;
    border-bottom: 2px solid var(--DefaultTextColor);
    background: var(--ContentBackground);
}

footer{
    display: flex; justify-content: center; align-items: center;
    border-top: 2px solid var(--DefaultTextColor);
    width: 100%;
    padding: 2px 5px;
    background: var(--ContentBackground);
    font-size: smaller;
}

#siteTitle{
    font-size: 29px;
    cursor: pointer;
    font-variant: small-caps;
}

.headerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .33s;
    padding: 2px;
    border-radius: 7px;
    border: 2px solid var(--DefaultTextColor);
    color: var(--DefaultTextColor);
}

.headerButton:hover{
    scale: 1.1;
    background: #a6a6a6cd;
    /* box-shadow: 0px 0px 2px black; */
}

.mapSearchButton:hover{
    background: #96a773ae !important;
}

.settingsButton:hover{
    background: #2e3fc153 !important;
}

#mainBodyWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    position: relative;
}

#loadingWrap{
    background: var(--ContentBackground);
    border-radius: 8px;
    border: 1px solid var(--DefaultTextColor);
    display: flex; justify-content: center; align-items: center;
    padding: 5px 10px 5px 5px;
    gap: 3px;
}

#loadingIcon{
    animation: loadingSpin 1.5s infinite ease-in-out;
}

@keyframes loadingSpin {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

#weatherInfoFullWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    position: relative;
}

#mainForecastDisplay{
    background: var(--ContentBackground);
    border: 1px solid var(--DefaultTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    padding: 5px 0px;
}

#cityName{
    background: var(--ContentBackground);
    border: 1px solid var(--DefaultTextColor);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 5px 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bolder;
    display: flex;
    justify-content: center; align-items: center; flex-direction: column;
    margin-bottom: 10px;
}

#currentConditionsWrap{
    background: var(--ContentBackground);
    border: 1px solid var(--DefaultTextColor);
    border-radius: 5px;
    text-align: center;
    padding: 4px 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    display: flex;
    justify-content: space-between; align-items: center; flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#currentConditionsTextWrap{
    display: flex;
    justify-content: center; align-items: start; flex-direction: column;
}

#currentTempText, #currentFeelsLikeText, #currentHumidityText{
    padding-left: 10px;
}

#currentConditionsDetailsAndIconWrap{
    border: 1px solid var(--DefaultTextColor);
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    padding: 5px 8px;
    font-weight: bolder;
    display: flex;
    justify-content: center; align-items: center; flex-direction: column;
    margin: 15px 0px 15px 15px;

}

#currentConditionsIcon{
    font-size: 40px !important;
}

.timeWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    border-bottom: 2px dotted rgb(228, 226, 226);
    padding: 5px;
    position: relative;
}

.finalTimeWrap{
    border-bottom: none !important;
}

.weatherIcon{
    position: absolute;
    left: 5px;
}

.weatherDegree{
    position: absolute;
    right: 5px;
}

#mapSearchFullWrap{
    display: flex;
    justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column;
    gap: 15px;
    position: absolute;
    background: linear-gradient(to top right, #a9d6e5, #89c2d9, #5db5db);;
    width: 100%;
    height: 100%;
    transition: .4s;
}

#mapSearchInput{
    border: none;
    padding: 4px;
    border-radius: 7px;
    width: 70%;
    height: 30px;
    max-width: 450px;
    font-size: 16px;
    text-align: center;
}

#searchLineWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
    gap: 15px;
}

#searchHeading{
    font-weight: 600;
}

#searchCityButton{
    background: rgba(143, 137, 137, 0.5);
    padding: 6px 8px;
    border: 1px solid var(--DefaultTextColor);
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    transition: .33s;
}

#searchCityButton:hover{
    background: rgba(80, 164, 132, 0.656);
}