@keyframes MenuClick {
    1%{
        scale: 1.2;
    }

    35%{
        scale: 1;
    }

    50%{
        scale: 0;
    }
    70%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
}

@keyframes MoleHit {
    0% {
        rotate: 0deg;
        transform: translate(0px, 0px) scale(1);
        opacity: 1;
    }
    10% {
        rotate: 36deg;
        transform: translate(10px, -5px) scale(0.95);
        opacity: 0.9;
    }
    20% {
        rotate: 72deg;
        transform: translate(15px, -15px) scale(0.9);
        opacity: 0.85;
    }
    30% {
        rotate: 108deg;
        transform: translate(10px, -25px) scale(0.85);
        opacity: 0.8;
    }
    40% {
        rotate: 144deg;
        transform: translate(0px, -20px) scale(0.8);
        opacity: 0.7;
    }
    50% {
        rotate: 180deg;
        transform: translate(-10px, -15px) scale(0.75);
        opacity: 0.65;
    }
    60% {
        rotate: 216deg;
        transform: translate(-15px, -5px) scale(0.7);
        opacity: 0.6;
    }
    70% {
        rotate: 252deg;
        transform: translate(-10px, 5px) scale(0.65);
        opacity: 0.5;
    }
    80% {
        rotate: 288deg;
        transform: translate(0px, 10px) scale(0.6);
        opacity: 0.4;
    }
    90% {
        rotate: 324deg;
        transform: translate(10px, 15px) scale(0.55);
        opacity: 0.3;
    }
    100% {
        rotate: 360deg;
        transform: translate(0px, 20px) scale(0.5);
        opacity: 0;
        display: none;
    }
}

@keyframes MoleEscape {

    20%{
        rotate: 10deg;
    }
    40%{
        rotate: -10deg;
    }
    60%{
        rotate: 0deg;
    }
    90%{
        scale: 0;
    }
    100%{
        scale: 0;
        opacity: 0;
        display: none;
    }
}