:root{
    --LightBodyBackground : #f0f0f0;
    --DarkBodyBackground : #1b1b1b;
    --BodyBackground : var(--DarkBodyBackground);
    --BodyTextColor : white;
    /* --HeaderFooterBackground : #a047d4; */
    --HeaderFooterBackground : burlywood;
}

/* Smaller Screen Styles: */
@media (max-width: 768px) {

    #SiteTitle{
        color: white;
    }

    #GameArea{
        width: 90%;
    }

}

/* Larger Screen Styles: */
@media (min-width: 769px){

    #GameArea{
        width: 60%;
        max-width: 550px;
    }

}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: background .33s;
}

img {
    user-select: none; 
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.material-symbols-rounded{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.3);
}

.text-shadow-light{
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

.box-shadow-light{
    box-shadow: 0px 0px 5.5px rgba(0, 0, 0, .8);
}

.cursor_Pointer{
    cursor: pointer !important;
}

.cursor_Default{
    cursor: default !important;
}

body{
    background: var(--BodyBackground);
    height: 100%;
    width: 100%;
    color: var(--BodyTextColor);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    font-family: 'Kanit';
    position: absolute;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    padding: 5px;
    background: var(--HeaderFooterBackground);
    min-width: 100%;
    height: fit-content;
}

#SiteTitle{
    color: #1b1b1b;
    height: 100%;
}

#MenuButton{
    background: rgb(56, 55, 55);
    padding: 2px;
    border-radius: 6px;
    transition: .33s;
    /* animation: MenuClick 1.5s ease 0s both; */
}

#MenuButton:hover{
    /* background: #3366dd; */
    background: #e22a49;
    box-shadow: 0px 0px 4px black;
    scale: 1.05;
    padding: 2px;
    border-radius: 6px;
}

#FullBodyArea{
    /* background: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#FullGameArea{
    position: absolute;
    display: none;
    opacity: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: .33s;
}

#StartGameWrap{
    position: absolute;
    width: 45%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgba(222, 184, 135, 0.617); */
    background: var(--HeaderFooterBackground);
    text-shadow: 2px 2px 1px black;
    padding: 10px 15px;
    border-radius: 12px;
    transition: .33s;
}

#StartGameButton{
    padding: 3px 5px;
    background: #484444;
    color: white;
    border-radius: 8px;
    border: unset;
    font-size: 14px;
    box-shadow: 0px 0px 2px black;
    font-family: 'Kanit';
    font-weight: bold;
    cursor: pointer;
    transition: .33s;
}

#StartGameButton:hover{
    padding: 6px 12px;
    font-size: 16px;
    color: black;
    background: #47d484;
}

#GameArea{
    /* background: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../Images/Mallet.png') !important;
    position: relative;
}

#GrassBackground{
    height: 100%;
    width: 100%;
    cursor: url('../Images/Mallet.png') 16 16, auto;
    position: relative;
}

.Clicking{
    cursor: url('../Images/SwingingMallet.png') 16 16, auto !important;
}

.Mole{
    position: absolute;
    /* width: 55px !important; */
    /* height: 55px !important; */
    width: 17%;
    cursor: url('../Images/Mallet.png') 16 16, auto;
    transition: .33s;
    z-index: 3;
    /* bottom: 83%; << Max Top/Bottom */
    /* left: 85%; << Max Left/Right */
}

#StrikesWrap{
    background: #4b4a4a;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 10px 20px;
    justify-content: center;
    align-items: center;
}

#StrikeCounter{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#StrikesHeading{
    font-size: 23px;
    margin-bottom: 5px;
}

#Strike1Txt, #Strike2Txt, #Strike3Txt{
    font-family: "Sixtyfour Convergence", serif;
    transition: .33s;
    opacity: .5;
}

#MoleCounterWrap{
    background: #4b4a4a;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

#CapturedCountTxt{
    text-align: center;
}

#FullGameOverWrap{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: .33s;
    opacity: 0; /* !! */
    display: none; /* !! */
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#GameOverWrap{
    background: rgb(202, 63, 63);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 350px;
    padding: 20px;
    border-radius: 12px;
}

#PlayAgainButton{
    border: unset;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .33s;
}

#PlayAgainButton:hover{
    background: #48e98b;
    padding: 5px 8px;
}

#GameOverInfoWrap{
    /* background: rgb(62, 62, 62); */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* max-width: 250px; */
    margin: 5px;
    border-radius: 12px;
    position: relative;
}

.GameOverInfoTxt{
    background: rgb(38, 125, 163);
    margin: 5px;
    padding: 4px 6px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BestScoresWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#GameOverBestScoreTxt{
    background: #9d1687;
    font-weight: bolder;
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NewBestScoreAlert{
    right: 10px;
    animation: RainbowBackground ease-in-out 2.5s infinite 0s alternate both;
    font-weight: bolder;
    margin: 5px;
    padding: 4px 6px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}