:root {
    --BodyBackgroundClrDF: rgba(0,0,0);
    --BodyBackgroundClrSD: rgba(255,255,255);

    --HeaderFooterBackgroundDF: rgba(137, 43, 226, 0.7);

    --TextColorDF: rgba(255,255,255);
    --TextColorSD: rgba(0,0,0);

    --HalfOpacityBlack: rgba(0,0,0,0.5);
    --HalfOpacityWhite: rgba(255,255,255,0.5);

    --ButtonBackgroundDF: rgb(85, 114, 222);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* transition: all 0.33s ease-in-out; */
}

a, a:visited, a:active {
    color: unset;
    text-decoration: unset;
}

button {
    background: var(--ButtonBackgroundDF);
    color: var(--TextColorDF);
    font-family: 'Kanit';
    padding: 2px;
    border-radius: 4px;
    border: 2px solid var(--HalfOpacityWhite);
    cursor: pointer;
}

    button:hover {
        box-shadow: 0px 0px 3px black;
    }

.material-symbols-rounded {
    display: block;
}

#NavButton {
    cursor: pointer;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.737);
    padding: 3.5px;
    border-radius: 5px;
}

body {
    background: var(--BodyBackgroundClrDF);
    color: var(--TextColorDF);
    font-family: 'Kanit';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: var(--HeaderFooterBackgroundDF);
    padding: 5px 7px;
    border-bottom: 2px solid var(--HalfOpacityWhite);
    border-top: 2px solid var(--HalfOpacityWhite);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: var(--HeaderFooterBackgroundDF);
    padding: 5px 7px;
    border-bottom: 2px solid var(--HalfOpacityWhite);
    border-top: 2px solid var(--HalfOpacityWhite);
}

#SettingsButton {
    font-size: large;
    cursor: pointer;
    background: black;
    padding: 2px;
    border-radius: 4px;
    border: 1.5px solid var(--HalfOpacityWhite);
}

#FullBodyWrap {
    /* background: rgba(128, 0, 128, 0.367); */
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    justify-content: center;
    align-items: center;
}

#SelectDificultyWrap {
    background: blueviolet;
    height: fit-content;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--HalfOpacityWhite);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scale: 1.5;
}

#FullGameWrap {
    background: var(--HeaderFooterBackgroundDF);
    border-top: 2px solid var(--HalfOpacityWhite);
    border-bottom: 2px solid var(--HalfOpacityWhite);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 10px 5px;
    height: max-content;
}

#HangmanWrap {
    width: 300px;
    height: 300px;
    background: black;
    border-radius: 12px;
    border: 2px solid var(--HalfOpacityWhite);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2%;
    margin: 10px 0px;
}

#HangmanArea {
    color: white;
    z-index: 10;
    width: fit-content;
    height: fit-content;
    white-space: pre;
    font-family: monospace;
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
}

#AnswerGuessWrap {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
}

#AnswerGuessWrap input {
    width: 17px;
    scale: 1.25;
    border-radius: 4px;
    text-align: center;
}

#GuessInputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

#GuessInputWrap span {
    font-size: 25px;
    cursor: pointer;
}

#GuessInputWrap span:hover {
    background: var(--HalfOpacityBlack);
    border-radius: 50px;
}


#AnswerProgressText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    font-size: 50px;
}