*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px;
}


#ExampleNotificationWrap{
    background: rgb(138, 195, 53);
    min-width: 200px;
    width: fit-content;
    height: 55px;
    margin: 0px 7px 7px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#SideWrap{
    background: red;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    padding: 3px 5px;
}

#TextWrap{
    padding: 5px;
}