:root {
    --BodyBackground-Dark-Defualt: rgb(62,62,62);
    --BodyBackground-Light-Defualt: rgb(241, 240, 240);

    --BodyText-Dark: rgb(62,62,62);
    --BodyText-Light: rgb(241, 240, 240);

    --LinkHoverColor-Defualt: rgb(100, 167, 189);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

a, a:visited, a:active {
    color: unset;
    text-decoration: unset;
    transition: color 0.33s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: var(--LinkHoverColor-Defualt);
}

.material-symbols-rounded {  
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Ubuntu';
    background: var(--BodyBackground-Dark-Defualt);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: none;
}

header, footer {
    box-shadow: 0px 0px 3px black;
    z-index: 5;
}

header {
    background: var(--BodyBackground-Light-Defualt);
    color: var(--BodyText-Dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    height: fit-content;
    height: 7vh;
}

    #Nav-Button-Wrap {
        width: fit-content;
        margin: 6px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
    }

    #Header-Nav-Button {
        font-size: 1.7rem;
        line-height: 1.7;
        cursor: pointer;
        color: var(--BodyText-Dark);
        transition: color 0.33s ease-out;
    }

    #Header-Nav-Button:hover {
        color: var(--LinkHoverColor-Defualt);
        text-shadow: 0px 0px .3px black;
    }

    #Header-Sec-1 {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    #Header-Sec-2 span {
        font-size: 1.7rem;
        cursor: default;
    }

    #Header-Sec-2 {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 100%;
    }

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 2px;
    top: 7.2vh;
    padding: 10px;
    padding-bottom: 5px;
    width: 20vh;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    z-index: 11;
        height: 87vh;

    background: var(--BodyBackground-Light-Defualt);
    box-shadow: 0px 0px 4px black;

}

#MainNavWrap, #Extra1NavWrap {
    display: flex;

    flex-direction: column;
    width: 100%;
    align-items: center;
    
    gap: 15px;
}

#MainNavWrap a, #Extra1NavWrap a{
    background: none;
    color: rgb(39, 39, 39);
    transition: background 0.33s ease-in-out;
    width: 100%;
    border-radius: 4px;
    padding: 7px;
    box-shadow: 0px 0px 4px black;
    text-align: center;
    font-weight: 500;
}

#MainNavWrap a:hover, #Extra1NavWrap a:hover {
    background: rgba(0, 0, 0, .25);
}

footer {
    background: var(--BodyBackground-Light-Defualt);
    color: var(--BodyText-Dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: small;
    text-wrap: wrap;
    padding: 7px 15px;
    height: fit-content;
    min-height: 5vh;
    width: 100%;
        position: relative;
}


#FullBodyWrap {
    display: flex;
    flex: 1;
    padding: 7px;
    background: var(--BodyBackground-Dark-Defualt);
    color: var(--BodyText-Light);

    color: gray;
    align-items: center;
    justify-content: center;
}