@keyframes scale-up-small {
    to{
        scale: 1;
    }
    from{
        scale: 1.1;
    }
}

@keyframes FeaturedSiteAnimation {
    to{
        color: rgb(255, 164, 95);
    }
    from{
        color: rgb(246, 255, 0);
    }
}

@keyframes FeaturedSiteImageAnimation {
    
    0%{
        rotate: 15deg;
    }

    100%{
        rotate: -15deg;
    }
}

@keyframes Opacity-Out {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
