#MyAccountFullWrap{
    width: 100%;
    height: 100%;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap; flex: 1;
    position: relative;
    /* background: rebeccapurple; */
    padding-bottom: 40px;
}

#AccountFullPanelsWrap{
    width: 100%;
    height: fit-content;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    position: relative;
}

#AccountLoginPanel, #AccountCreatePanel{
    background: rgba(0,0,0,.5);
    text-shadow: 0px 0px 4px black;
    color: white;
    padding: 12px 20px;
    width: 400px;
    max-width: 70%;
    border-radius: 7px;
    border: 1px solid darkgray;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    gap: 5px;
}

.AccountInputLineWrap{
    display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: wrap;
    gap: 5px;
}

.InputWrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block: 20px 15px;
    gap: 15px;
}

.AccInputIcon{
    background: rgb(79, 42, 141);
    color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    height: 30px;
    width: 30px;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.AccInputText{
    height: 25px;
    width: 200px;
    text-align: start;
    accent-color: black;
    caret-color: black;
    border: 1px solid darkgray;
    background: rgb(210, 210, 210);
    border-radius: 5px;
    font-size: 15px;
    padding-inline: 3px;
    
}

.AccInputText::placeholder{
    color: rgb(125, 124, 124);
}

.AccountSubmitButton{
    padding: 5px 8px;
    background: rgb(79, 42, 141);
    border-radius: 5px;
    border: 1px solid darkgray;
    margin-bottom: 7px;
    font-size: 13px;
    cursor: pointer;
    transition: .33s;
}

.AccountSubmitButton:hover{
    scale: 1.1;
}

.SwitchLoginTypeWrap{
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    margin-top: 7px;
    gap: 3px;
    font-size: small;
}

.SwitchLoginButton:hover{
    color: rgb(31, 77, 151);
    text-decoration: underline;
    cursor: pointer;
}

#AccountSubmitErrorMsg{
    /* margin: 20px; */
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    color: rgb(185, 156, 28);
    text-shadow: 0px 0px 2px black;
    border-radius: 5px;
    position: absolute;
    bottom: -40px;
    font-size: small;
}

#MyAccountPanel, #ManageAccountPanel, #ChangeAccountPicturePanel, #DeleteAccountConfirmPanel, #ChangeAccountEmailPanel, #ChangeAccountPasswordPanel{
    background: rgba(0,0,0,.5);
    text-shadow: 0px 0px 4px black;
    color: white;
    padding: 12px 20px;
    width: 400px;
    max-width: 70%;
    border-radius: 7px;
    border: 1px solid darkgray;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 17px;
}

#MyAccount_Username{
    position: relative;
    width: 100%;
}

.AdminUserIcon{
    background: rebeccapurple;
    padding: 4px;
    margin-left: 4px;
    border-radius: 50px;
    font-size: medium !important;
}

#MyAccount_Image, #MyAccountPicture_Image, #MyAccountDelete_Image, #ManageMyAccount_Image, #ManageAccountEmail_Image, #ManageAccountPassword_Image{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px;
    border: 2px solid darkgray;
    margin-block: 5px;
}

#AccountEmailNotVerifiedMsg{
    font-size: small;
    color: #953535;
    padding: 4px 6px;
    border: 1px dotted darkgray;
    border-radius: 4px;
}

#EmailVerificationSentMsg{
    background: rgba(0,0,0,.5);
    text-shadow: 0px 0px 4px black;
    color: white;
    padding: 12px 20px;
    /* width: 400px; */
    max-width: 70%;
    border-radius: 7px;
    border: 1px solid darkgray;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: 105%;
    color: rgb(193, 184, 11);
    transition: .33s;
    font-size: 16px;
}

.AccountButton{
    background: rgb(167, 152, 75);
    padding: 5px 8px;
    border-radius: 4px;
    margin-top: 5px;
    border: 2px solid darkgray;
    cursor: pointer;
    transition: .33s;
    font-size: small;
}

.AccountButton:hover{
    scale: 1.1;
}

#ConfirmPassword_ManageAccountWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 17px;
}

#ManageAccountOptionButtonsWrap{
    width: 400px;
    max-width: 70%;
    display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap;
    gap: 10px;
}