#ChangeLogFullWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ChangeLogHeading{
    background: rgb(61, 8, 113, .7);
}

#ChangeLogGrid{
    width: 75%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 1px black;
    
}

.ChangeLog_HeadingRow{
    width: 100%;
    background: rgb(61, 8, 113, .7);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid black;
}

.ChangeLog_HeadingCell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 12px;
    border: 2px solid black;
}

.ChangeLog_ContentRow{
    width: 100%;
    /* background: rgb(51, 105, 153); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid black;
    border-top: unset !important;
    position: relative;
}

.ChangeLog_ContentCell{
    text-align: start;
    background: rgba(128, 128, 128, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 8px;
    border: 2px solid black;
    border-top: unset !important;
    font-size: 14px;
}

#NewChangeLogEntryButton{
    background: rgb(61, 8, 113);
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    border: 3px solid black;
    /* padding: 7px; */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .33s;
}

#NewChangeLogEntryButton:hover{
    scale: 1.1;
}