#ChangeLogFullWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#ChangeLogHeading{
    background: #561498b3;
}

#ChangeLog_ScreenWrap{
    position: absolute;
    background: none;
    width: 100vw;
    height: 100% !important;
}

#NewChangeLogEntryButton{
    background: rgb(61, 8, 113, 0.7);
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: white;
    border: 3px solid black;
    /* padding: 7px; */
    width: 40px;
    height: 40px;
    border-radius: 7px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .33s;
}

#NewChangeLogEntryButton:hover{
    scale: 1.1;
}

.textAlignLeft{
    text-align: start !important;
}

#CreateNew_ChangeLog_FullWrap{
    position: absolute;
    bottom: 0px;
    top: 0px;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#CreateNew_ChangeLog_EntryWrap{
    background: #2e1d51;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    margin-top: 85px;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.ChangeLog_InputRow{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    position: relative;
}

.ChangeLog_InputIcon{
    background: rgba(28, 31, 169, 0.5);
    border: 2px solid gray;
    font-size: 13px !important;
    padding: 4px;
    color: white;
    border-radius: 4px;
}

.ChangeLog_Input{
    position: relative;
    color: black;
    accent-color: black;
    caret-color: black;
    height: 24px;
    border: 2px solid rgb(144, 144, 144);
    padding: 4px;
    border-radius: 4px;
    text-align: start;
    margin-top: 1px;
    font-size: 15px;
}

#ChangeLog_InputDetails{
    resize: vertical;
    height: 75px;
    width: 203px;

}

#ChangeLog_InputSubmit{
    margin-top: 10px;
    background: rgba(28, 31, 169, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid rgb(144, 144, 144);
    transition: .33s;
}

#ChangeLog_InputSubmit:hover{
    padding: 5px 15px;
}

#ChangeLog_CloseEntryButton{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px !important;
    background: darkred;
    border: 1.5px solid rgb(144, 144, 144);
    border-radius: 2px;
    cursor: pointer;
}

#ChangeLogEntriesContainer{
    margin-block: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.ChangeLog_EntryWrap{
    background: #4b4a4ab3;
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 4px;
    border: 1px solid lightgray;
}

.EntryVersionNumber{
    padding: 2px 4px;
    /* background: #6d3c9d; */
    background: rgb(66, 141, 121);
    border: 1px solid lightgray;
    text-shadow: 0px 0px 1px black !important;
    align-self: start;
    color: white;
    font-size: small;
    border-radius: 4px;
}

.EntryDate{
    padding: 2px 4px;
    background: rgb(41, 41, 41);
    color: white;
    border-radius: 4px;
    font-size: 9px;
}

.EntryDetails{
    color: white;
    font-size: 14px;
    padding: 4px;
    text-align: center;
}