/* Begin Main.css - Credits: Br4dy*/

/* Variables: */

:root {
    /* --Default-BgColor: linear-gradient(360deg, rgb(162, 88, 4), orange);; */
    --Default-BgColor: linear-gradient(45deg, blue, rgb(233, 63, 193));;
    --Default-TextColor: white ;
}


/* Full Body Styles: */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    background: rgb(43, 38, 46);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: var(--Default-TextColor);
}

#FullBodyWrap {
    background: var(--Default-BgColor);
    font-family: 'Kode Mono';
    font-weight: 500;
    font-size: 12px;
}


/* Header Styles: */

header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0, 0.7);
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px;

    font-family: 'Rubik Scribble';
    font-weight: bolder;
}

#NavOpenIcon {
    background: rgb(0, 0, 0, 0.55);
    padding: 4px;
    font-size: large;
    text-align: center;
    border-radius: 7px;
    border: 1px solid white;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

#NavOpenIcon:hover {
    border: 1px solid rgba(32, 178, 171, 0.75);
    color: rgba(32, 178, 171, 0.75);
    transition: all 1s ease-in-out;
}

#FullNavWrap {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 7px;
    border: 1px solid rgb(108, 106, 106);
    /* height: 350px; */
    height: fit-content;
    width: 25vh;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 10px;
    padding: 15px;
}

#MainNavList {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    list-style: none;
    justify-items: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#MainNavList li {
    display: inline-block;
    width: 85%;
    background: rgba(32, 178, 171, 0.75);
    border-radius: 7px;
    box-shadow: 0px 0px 3px black;
    padding: 7px;
    margin: 5px 0px 15px 0px;
}

#MainNavList li:hover {
    transition: all 0.4s ease-in-out;
    background: rgb(43, 128, 43);
    cursor: pointer;
}

#NavFooterWrap {
    background: rgba(128, 128, 128, 0.65);
    border-radius: 5px;
    text-align: center;
    font-size: 11px;
    padding: 4px 3px 4px 3px;
    width: fit-content;
    align-self: center;
}

    #NavFooterWrap p:hover {
        color: lightblue;
        cursor: pointer;
    }


/* Footer Styles: */


#FooterWrap {
    position: relative;

    width: 100%;
    background: rgb(0, 0, 0, 0.45);
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
}


/* Body ELEMENT Styles: */

.AutoGrid {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust minmax() values as needed */
    grid-auto-rows: auto;
    grid-auto-flow: dense ;
    gap: auto;
    overflow-x: hidden;

    justify-items: center;
    align-items: center;
    justify-content: center;
}


#LandingSlidshowWrap {
    background: rgba(0, 0, 0, 0.35);
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    justify-content: center;

    padding: 10px;
    overflow-x: auto ;
    
}

.LandingSlideImg {
    width: fit-content;
    max-width: 95%;
    max-height: fit-content;


    object-fit: contain;

    border-radius: 7px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    

    justify-self: center;
    align-self: center;

    margin: 10px;
}

.HeadingLineWrap {
    margin-bottom: 10px;
    background: rgb(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 17px;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 35px;
}

#DirectoryHeadingWrap {
    margin-top: 0px;

    color: var(--Default-TextColor);
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 17px;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 35px;
}



/* Directory Styles: */


.DirectoryCell {
    background: rgba(0, 0, 0, 0.45);
    width: 185px;
    height: 225px;
    border-radius: 14px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 15px;

    display: flex;
    flex-direction: column;

    /* justify-content: center;
    align-content: center;

    justify-items: center;
    justify-content: center; */
}

.DrctyTitle {
    display: flex;
    align-self: center;

    width: 100%;
    height: fit-content;
    font-size: 17px;

    /* border-radius: 7px;
    border: 1.5px solid white; */

    background: rgba(0, 0, 0, 0.35);
    padding: 6px;

}

.DrctyImgWrap {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;

    max-height: max-content;
    min-height: max-content;

    max-width: max-content;
    min-width: max-content;
}

.DrctyImgElm {
    scale: 1.25; 
    border: 1.5px solid rgba(255, 255, 255, 0.5); 
    border-radius: 7px;
}

.DrctyTxtElm {
    text-align: center; 
    width: 100%;
}

.DrctyBtn {
    font-size: minmax(15px, 25px);
    border: 1.5px solid rgb(53, 174, 83);

    display: flex;
    align-self: center;

    width: 50%;
    height: fit-content;

    border-radius: 7px;
    padding: 4px;

}

.DrctyBtn:hover {
    transition: all 0.33s ease-in-out;
    background: rgba(53, 174, 83, 0.4);
    border: 2px solid rgb(53, 174, 83);

    cursor: pointer;

}


/* GitHub API Info Styles: */


#GithubWrap, #DirectoryWrap{
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
}

.GithubCell {
    background: rgba(0, 200, 133, 0.545);
    width: 150px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}