/* Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --BodyBackground : rgb(33, 33, 33);
    --TextColor : white;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'DynaPuff';
    text-align: center;
    transition: opacity .33s;
}

a, a:visited, a:active{
    color: rgb(56, 176, 216);
}

/* Smaller Screen Styles: */
@media (max-width: 768px) {

}

/* Larger Screen Styles: */
@media (min-width: 769px){

}

.material-symbols-rounded{
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-shadow: 1px 1px 2px rgb(86, 86, 86);
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 40
}

.hidden{
    display: none !important;
}

.cursorPointer{
    cursor: pointer !important;
}

.text-shadow{
    text-shadow: 0px 0px 4px rgb(86, 86, 86);
}

.text-shadow-dark{
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.box-shadow{
    box-shadow: 0px 0px 4px rgb(86, 86, 86);
}

.box-shadow-dark{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.body-heading{
    width: 90%;
    max-width: 650px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: white;
    padding: 10px 40px;
    margin-block: 10px;
}

body{
    background: var(--BodyBackground);
    color: var(--TextColor);
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: background .33s, color .33s;
}

header{
    background: #4aa089;
    display: flex; justify-content: space-between; align-items: center;
    width: minmax(550px, 80%);
    box-shadow: 0px 0px 3px rgb(86, 86, 86);
    /* border: 1.5px solid var(--TextColor); */
    padding: 8px;
    border-radius: 8px;
    color: white;
    width: 95%;
    max-width: 850px;
    height: fit-content;
    margin-block: 10px;
    position: relative;
}

#siteTitle{
    cursor: pointer;
    font-variant: small-caps;
    font-size: 30px;
    position: relative;
}

#menuButton, #accountButton{
    border: 1.5px solid white;
    /* background: rgb(126, 126, 126); */
    font-size: 20px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 1px 1px 3px rgb(86, 86, 86);
    cursor: pointer;
    transition: .33s;
}

#menuButton:hover{
    scale: 1.1;
    background: #714aa0;
}

#accountButton:hover{
    scale: 1.1;
    background: #4a5ea0;
}

#fullBodyWrap{
    /* background: rgba(0, 0, 255, 0.216); */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    position: relative;
    color: var(--TextColor);
    gap: 15px;
    padding-top: 5px;
}

#HomepageContent{
    width: 100%;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

#LandingSearchFullWrap{
    width: 100%;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    gap: 10px;
    position: relative;
    padding-top: 5px;
    margin-block: 0px 10px;
}

#LandingSearchHeading{
    background: #4a5ea0da;
    margin-block: 5px 10px;
}

#LandingSearchInputFullWrap, #SearchInputFullWrap{
    display: flex; justify-content: center; align-items: center; flex-direction: row;
    margin: 5px;
    width: 65%;
    max-width: 500px;
    min-width: 250px;
    box-shadow: 0px 0px 4px #00000080;
    position: relative;
}

#LandingSearchInputIcon, #SearchInputIcon{
    background: #4a5ea0ac;
    color: white;
    font-size: 20px;
    padding: 2px;
    border: 1px solid white;
    position: relative;
    right: 0px;
}

#LandingSearchInput, #SearchSitesInput{
    padding: 1px;
    padding-left: 5px;
    font-size: 15px;
    width: 100%;
    min-height: 26px;
    border: unset;
    accent-color: var(--TextColor);
    caret-color: var(--TextColor);
    text-align: left;
    background: #797979b5;
    color: var(--TextColor);
    border: 1px solid white;
    border-left: unset;
    border-radius: unset;
    z-index: 3;
}

#LandingSearchInput::placeholder, #SearchSitesInput::placeholder{
    color: rgba(255, 255, 255, 0.842);
}


#LandingSearchInputAutoComplete, #SearchSitesInputAutoComplete{
    position: absolute;
    top: 100%;
    display: none; justify-content: center; align-items: start; flex-direction: column;
    background: lightgray;
    color: black;
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    /* border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    border: 1px solid white;
    border-top: unset;
    z-index: 2;
}

.AutoCompleteOption{
    width: 100%;
    text-align: start;
    padding: 4px 3px;
    padding-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.AutoCompleteOption:hover{
    background: rgb(183, 183, 183);
}

#NewFeaturedSitesHomepage, #AllSitesFullWrap, #SearchSitesFullWrap{
    width: 100%;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    gap: 10px;
    position: relative;
}

#NewFeaturedSitesHomepageHeading, #AllSitesHeading, #SearchSitesHeading{
    background: #714aa0cb;
}

#HomepageFeaturedSiteGridWrap, #AllSitesGridWrap, #SearchSitesGridWrap{
    /* background: red; */
    width: 100%;
    max-width: 650px;
    padding: 0px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#HomepageFeaturedSiteGrid, #AllSitesGrid, #SearchSitesGrid{
    /* background: blue; */
    width: 100%;
    height: fit-content;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
}

.SiteCell{
    display: flex; justify-content: space-evenly; align-items: center; flex-direction: column;
    background: #4a5ea0d4;
    border-radius: 7px;
    width: 150px;
    height: 200px;
    padding: 20px 0px 15px 0px; 
    gap: 10px;
    position: relative;
    transition: .33s;
}

.SiteCell:hover{
    scale: 1.05;
}

.SiteTagWrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0px;
    color: white;
}

.FeaturedSiteTag{
    /* background: #a91593; */
    background: #fe9022d0;
    padding: 2px 4px;
    font-size: 14px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    /* position: absolute; */
    /* left: 0px; */
    border-radius: 7px;
    margin: 2px;
}

.NewSiteTag{
    background: #15a953a8;
    padding: 2px 4px;
    font-size: 14px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* position: absolute; */
    /* right: 0px; */
    border-radius: 7px;
    margin: 2px;
}

.SiteCellName{
    font-size: 18px;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    color: white;
    /* width: 100%; */
    margin-inline: 10px;
    text-align: center;
    height: fit-content;
    padding: 6px 8px;
    border-radius: 8px;
}

.TagMargin{
    margin-top: 10px;
}

.ShowTag{
    display: flex;
}

.HideTag{
    display: none;
}

.SiteCellImg{
    font-size: 20px;
    width: 40%;
    filter: drop-shadow(0px 0px 3px black);


}

.VisitSiteButton{
    font-size: 13px;
    background: unset; 
    border: 1.5px solid white;
    color: white;
    /* background: rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding: 3px 0px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    transition: .33s;
}

.VisitSiteButton:hover{
    background: #4aa089;
}

#MoreResourcesWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#HomepageResourcesWrap{
    /* background: green; */
    max-width: 620px;
    width: 80%;
    margin-block: 15px;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 15px;
}

#MoreResourcesHeading{
    background: #11838dc4;
}

.ResourceButton{
    background: #a91593c9;
    color: white;
    width: fit-content;
    min-width: 100px;
    padding: 7px;
    border-radius: 5px;
    display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 7px;
    transition: .33s;
    cursor: pointer !important;
}

.ResourceButton:hover{
    scale: 1.05;
}

#AdminResourcesWrap{
    /* background: green; */
    width: 100% !important;
    margin-bottom: 50px;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 15px;
    flex-direction: column;
}

#AdminResourcesHeading{
    background: #8d4311c4;
}

#AdminResourcesContentWrap{
    max-width: 620px;
    width: 100%;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 15px;
}

#HiddenSitesFullWrap{
    display: flex; justify-content: start; align-items: center; flex-direction: column; flex-wrap: wrap;
    flex: 1;
    width: 100%;
    padding-bottom: 50px;
}

#HiddenSitesHeading{
    background: #5c37a0c4;
    margin-bottom: 20px;
}

#HiddenSitesList{
    display: flex; justify-content: start; align-items: center; flex-direction: column; flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.HiddenSiteButton{
    background: rgba(169, 169, 169, 0.69);
    width: 70%;
    max-width: 420px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid darkgray;
    text-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 2px black;
    transition: .33s;
    cursor: pointer;
}

.HiddenSiteButton:hover{
    background: rgba(106, 106, 106, 0.69);
}
