:root {
    --ExVar : rgb(0,0,0);
    --LightPink : #ffd6ff;
    --LightPurple : #e7c6ff;
    --Purple : #c8b6ff;
    --LightBlue : #bbd0ff;
    --Blue : #b8c0ff;

}

/* Font: */


/* Small Screen Styles: */
@media (max-width: 768px) {
    
}

/* Large Screen Styles: */
@media (min-width: 769px){

}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* font-family: 'Kode Mono'; */
}

a, a:hover, a:active, a:visited{
    color: unset;
    text-decoration: unset;
}

.material-symbols-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

body{
    /* background: var(--LightBlue); */
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Madimi One';
}

header{
    /* background: var(--LightPink); */
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#HeaderSec1{
    display: flex;
    background: var(--LightBlue);
    padding: 4px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#HeaderSec2{
    display: flex;
    background: var(--Purple);
    padding: 4px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#HeaderSec3{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--LightPink);
    padding: 4px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer{
    background: whitesmoke;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    font-size: 17px;
    font-family: "Caveat" !important;
}

#FeatureSiteArea{
    background: var(--Purple);
    display: flex;
    height: 46.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#FeatureSiteImg{
    max-width: 60vw;
    max-height: 30vh;
    border-radius: 8px;
    background: #b8c0ff;
    margin-bottom: 15px;
}

#NewSiteArea{
    background: var(--LightPink);
    display: flex;
    height: 46.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}