#fullNavArea{
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: start;
    flex: 1;
    position: absolute;
    left: 0;
    transition: .33s;
}

#NavRemainingSpace{
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    position: absolute;
    left: 0;
    transition: .33s;
}

#NavMenu{
    background: #4aa089;
    width: 250px;
    height: 100%;
    padding: 0px 20px 10px 20px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: fixed;
    left: -250px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: .5s ease;
    color: white;
}

#NavHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#NavFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SiteVersionTxt{
    font-size: small;
}

#NavMainMenu{
    display: flex;
    padding-block: 13px 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    flex: 1;
}

#NavMainTopLinks, #NavMainBottomLinks{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}

#NavMainBottomLinks{
    gap: 5px !important;
}

.NavMainLink, .NavFooterLink{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #202020;
    color: white;
    gap: 4px;
    width: 90%;
    padding: 8px 0px 8px 22px ;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: .33s;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
}

.NavFooterLink{
    scale: .85;
}

.NavMainLink:hover{
    background: #2a77e2;
    width: 95%;
}

.NavLinkIcon{
    position: absolute;
    left: 8px;
}

#AllSitesNavButton:hover{
    background: #2a77e2;
    width: 95%;
}

#SearchSitesNavButton:hover{
    background: #ddb833;
    width: 95%;
}

#AccountNavButton:hover{
    background: #bf2195;
    width: 95%;
}

#LightDarkModeButton:hover{
    background: #7a2ae2;
    width: 95%;
}

#ChangeLogNavButton:hover{
    background: #ee4e39;
    width: 95%;
}

#PrivacyPolicyButton:hover{
    background: #cb9f1d;
    width: 95%;
}

#TermsAndConditionsButton{
    font-size: 12px !important;
    text-align: self-end;
}
#TermsAndConditionsButton:hover{
    background: #e2672a;
    width: 95%;
}

#SourceCodeNavButton:hover{
    background: #2a46e2;
    width: 95%;
}