#PrivacyPolicyWrap, #TermsAndConditionsWrap, #ContactUsWrap{
    padding-inline: 20px;
    text-align: center;
}

body{
    overflow-y: auto !important;
    min-height: 100vh;
    background-image: unset !important;
}

.hidden-opacity{
    opacity: 0;
}


#ScrollUpButton{
    background: linear-gradient(to top right, #b829e3, #9a5ada);
    border-radius: 8px;
    position: fixed;
    z-index: 25;
    bottom: 13px;
    right: 13px;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.alignLeft{
    text-align: left;
    justify-content: left;
    align-items: start;
}

p {
    text-align: left;
}

ul, li {
    margin-inline-start: 30px;
    text-align: left;
    list-style: decimal;
}

#ContactUsWrap, #ExpWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 35px;
    flex: 1;
}


#contact-form{
    /* background: linear-gradient(to top left, #1195b3, #11882c); */
    padding: 22px;
    margin: 20px;
    border-radius: 8px;
    border: 2px solid white;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scale: 1.15;
    width: 255px;
}

#contact-form label{
    background: rgb(55, 55, 55);
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    display: block;
    margin-left: 10px;
}

#contact-form input, textarea{
    background: rgb(55, 55, 55);
    border: 1px solid white;
    padding: 8px;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: left;
    color: white;

    width: fit-content;

    display: flex;
    transform: translateX(12%)

}

#contactForm-message{
    overflow: auto;
    resize: vertical;
    /* resize: none; */
    min-height: 50px;
}

#ContactSubmit {
    background: rgb(55, 55, 55);
    border: 1px solid white;
    padding: 4px;
    border-radius: 5px;
    min-width: 35%;
    color: white;
    cursor: pointer;
    transition: background 0.33s ease;
}

#ContactSubmit:hover {
    background: rgb(80, 194, 58);
    cursor: pointer;
}

#FullContactHelpWrap{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 5;

}

#ContactHelpInfoWrap{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white;
    max-width: 450px;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
}

#ContactHelpInfoWrap h2{
    background: rgb(55, 55, 55, 0.9);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
}

#ContactHelpButtons{
    display:  flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

#ContactHelpButtons button{
    display:  flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.7);
    /* background: rgb(55, 55, 55, 0.85); */
    color: black;
    transition: background 0.33s ease, color 0.33s ease, border 0.33s ease;
    cursor: pointer;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid black;
}

#ContactHelpButtons button p{
    text-shadow: none;
    font-weight: bolder;
}

#ContactHelpButtons button span{
    text-shadow: none;
    font-size: 20px;
}

#ContactHelpButtons button:hover{
    background: rgba(173, 216, 230, 0.9);
}

#GoBackToContactPageButton:hover{
    background: rgba(237, 167, 167, 0.9) !important;
}
