/* Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DynaPuff';
}

:root{
    --BodyBackground : rgb(51, 85, 119);
    --TextColor : #ffffff;
    
}

.material-symbols-rounded{
    display: flex !important; justify-content: center !important; align-items: center !important; text-align: center !important;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-shadow: 1px 1px 2px rgba(86, 86, 86, 0.692);
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 40
}

.cursorPointer{
    cursor: pointer !important;
}

.text-shadow{
    text-shadow: 0px 0px 4px rgb(86, 86, 86);
}

.text-shadow-dark{
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.box-shadow{
    box-shadow: 0px 0px 4px rgb(86, 86, 86);
}

.box-shadow-dark{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

body{
    background: var(--BodyBackground);
    color: var(--TextColor);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transition: background .33s, color .33s;
}

header{
    background: #a9a9a996;
    display: flex; justify-content: space-between; align-items: center;
    width: minmax(550px, 80%);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, .5);
    /* border: 1.5px solid var(--TextColor); */
    padding: 8px;
    border-radius: 8px;
    color: white;
    width: 95%;
    max-width: 850px;
    height: fit-content;
    margin-block: 10px;
    position: relative;
}

.headerButton{
    transition: .33s;
    width: 35px;
    height: 35px;
    display: flex; justify-content: center; align-items: center; text-align: center;
    border-radius: 10px;
}

.headerButton:hover{
    background: rgba(86, 86, 86, 0.692);
}

#fullBodyWrap{
    position: relative;
    display: flex; justify-content: center; align-items: center; text-align: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}